@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Use the links below to navigate to different sections:</p>
    <ul class="list-unstyled">
        <li><a href="/Carriers">Carriers</a></li>
        <li><a href="/Carriers/Create">Create Carrier</a></li>
        <li><a href="/PostalCodes">Postal Codes</a></li>
        <li><a href="/Offers">Offers</a></li>
        <li><a href="/Offers/Create">Create Offer</a></li>
        <li><a href="/Shipments">Shipments</a></li>
        <li><a href="/Shipments/Create">Create Shipment</a></li>
    </ul>
</div>
