@model ShippingCalculator.Models.PostalCode

@{
    ViewData["Title"] = "Edit Postal Code";
}

<h1>Edit Postal Code</h1>

<h4>Postal Code</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Postal" class="control-label"></label>
                <input asp-for="Postal" class="form-control" />
                <span asp-validation-for="Postal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nomos" class="control-label"></label>
                <input asp-for="Nomos" class="form-control" />
                <span asp-validation-for="Nomos" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
